table {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

thead tr, .header-of-left th {
    background: grey;
}

tr {
    background: darkseagreen;
    margin: 2px;
}

tr:nth-child(2n) {
    background: #6ac26a;
}

th, td {
    padding: 6px;
}

td button {
    margin: 2px;
}

